<h1>MOB Weather Data</h1>
<h3>Below data related to weather details of five different cities on Europe.</h3>
<div class="row mob_home__content">
    <div *ngFor="let city of cityWeatherResponse" class="mob_home__city-tile" (click)="gotoMoreCityDetails(city)">
      <h3>{{city.cityName}}</h3>
      <p>Temperature: {{city.temp}}</p>
      <p>Sunrise At: {{city.sunrise}}</p>
      <p>Sunset At: {{city.sunset}}</p>
    </div>
</div>    