
<h3>{{cityName}}</h3>
<p>This page shows the sea level details of the {{cityName}} city</p>
<div class="row mob_city_detail__content">
    <div *ngFor="let city of cityWeatherForecastResponse" class="mob_city_detail__forecast-tile">
      <p>On: {{city.date}}</p> 
      <p>Temperature: {{city.temperature}}</p>
      <p>Sea Level: {{city.seaLevel}}</p>
    </div>
</div> 

<p *ngIf="showErrorMsg">{{showErrorMsg}}</p>
